{% extends 'base.html' %}
{% load static %}

{% block title %} About {% endblock %}

{% block content %}


<div class="container about mt-5">
    <div class="row">
        <div class="col-lg-3"> </div>
        <div class="col-lg-6">
            <h1 class="mb-5">About Us </h1>

            <p>
                November Scent is a United States based online luxury perfume store.<br>
                <br>
                We know that selecting a fragrance can feel overwhelming… especially when you are ordering online!
                Which is why we are offering samples of most precious and luxurious perfume houses from around the
                word.<br>

                We want you to feel as comfortable as possible exploring new scents and fragrances for special
                occasions, events, or just every day wear.<br>
                <br>
                And when you are ready to commit to a full bottle of perfume that you love, we are pleased to offer
                you those perfumes as we are working directly with many brands and growing our retail collection
                everyday.<br>
                <br>
                Our goal is to make your overall fragrance experience as seamless as possible, which is why we want
                all of our customers to have great information on the best fragrances at their fingertips.<br>
                <br>
                <br>
                <br>
                We are here to support you throughout your fragrance journey and ensure that you find the best
                scents for you! feel free to contact us for any assistance you may need.<br>
            </p>
        </div>

        <div class="col-lg-3"> </div>

    </div>
</div>

{% endblock %}